.button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 25px;

    width: 150px;
    height: 30px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

}

.button:hover,
.button:focus {
    background-color: rgb(64, 128, 247);
}